body {
    background-color:lightblue;
}

#container {
    position:relative;
    height:80vmin;
    width:80vmin;
    outline: 2.5vmin solid black;
}

.innerSquare {
    position:absolute;
    margin:0;
    transition-property:background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
